.first{
	margin:6px 3px 3px 3px;
	background: powderblue;
	width:50%;
	height:33%;
	padding: 10px;
	text-align: left;
	}
	.second{
	margin:6px 3px 3px 3px;
	background: green;
	width:50%;
	height:33%;
	padding: 10px;
	text-align: left;
	}
	.third{
	margin:6px 3px 3px 3px;
	background: orange;
	width:50%;
	height:33%;
	padding: 10px;
	text-align: left;
	}
	.fourth{
	float:right;
	margin-top:-53.6%;
	background: red;
	width:48%;
	height:108.5%;
	padding:5px;
	text-align: center;
	}
	.r{
	border: 2px solid red;
    padding: 10px;
	}